{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.contact.subtitle }}{{ . }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form  action="{{ with .Site.Params.form_url }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{ . }}{{ end }}" name="entry.1628314454" required data-validation-required-message="{{ with .Site.Params.contact.form.name.warning }}{{ . }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>

                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{ . }}{{ end }}" name="entry.977091266" required data-validation-required-message="{{ with .Site.Params.contact.form.email.warning }}{{ . }}{{ end }}">
                              <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl" onclick="window.open({{ .Site.BaseURL }})">{{ with .Site.Params.contact.buttonText }}{{ . }}{{ end }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
