{{ "<!-- projects Grid Section -->" | safeHTML }}
<section id="projects" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .Site.Params.projects.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.projects.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            {{ range sort .Site.Data.projects "position" }}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#{{ .modalID }}" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <div class="portfolio-preview"><img src="img/projects/{{ .preview }}" class="img-responsive" alt=""></div>
                </a>
                <div class="portfolio-caption">
                    <h4>{{ .title }}</h4>
                    <p class="text-muted">{{ .category }}</p>
                    <p>{{ .description | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
